<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>公告发送</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form th:action="@{/getTip}" method="post" style="min-width: 80%;min-height: 100%">
    <p style="color: red" th:text="${msg}"></p>
    <div class="input-group input-group-lg">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">公告</span>
        </div>
        <input type="text" class="form-control" style="min-height: 100px" name="gz" aria-label="Large"
               aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="col-md-3">
        <button class="btn btn-sm btn-primary btn-block" style="margin-top: 50px;margin-left: 500px" type="submit">发布
        </button>
    </div>
</form>

</body>

</html>